<script src="competition-controller.js"></script>
<div class="horizontal-scroll">
    <div class="panel profile-panel ">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Competition List</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-10 margin-top-btn col-xs-10 ">
                    <button class="btn pull-right btn-primary btn-raised" ng-click="gotoCreateCompetition()">Add Competition</button>
                </div>
                <label class="col-sm-2 col-xs-2">Rows on page
                    <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                            ng-model="competitionPageSize" ng-options="i for i in [5,10,15,20,25]">
                    </select>
                </label>
            </div>
            <div class="table-responsive">
                <table class="table" st-table="competitionData" st-safe-src="competitionMasterData">
                    <thead>
                    <tr class="sortable">
                        <th class="table-id" st-sort="id"><b>SL.NO</b></th>
                        <th st-sort="name"><b>COMPETITION NAME</b></th>
                        <th st-sort="name"><b>COMPANY NAME</b></th>
                        <th st-sort="name"><b>START DATE</b></th>
                        <th st-sort="name"><b>END DATE</b></th>
                        <th st-sort="name"><b>TIME LIMIT</b></th>
                        <th st-sort="name"><b>TOKEN</b></th>
                        <th><b>ACTION</b></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th><input st-search="name" placeholder="Search Competition"
                                   class="input-sm form-control search-input"
                                   type="search"/></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in competitionData">
                        <td>{{$index + 1}}</td>
                        <td>{{item.competitionName}}</td>
                        <td>{{item.companyName}}</td>
                        <td>{{item.startDate}}</td>
                        <td>{{item.endDate}}</td>
                        <td>{{item.timeLimit}}</td>
                        <td>{{item.token}}</td>
                        <td>
                            <button class="btn btn-primary btn-xs" data-toggle="modal"
                                    ng-click="editCompetitionData(item)" data-toggle="tooltip" title="Edit Competition"><i
                                    class="fa fa-pencil fa-lg"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="8" class="text-center">
                            <div st-pagination="" st-items-by-page="competitionPageSize" st-displayed-pages="5"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>

