<div class="horizontal-scroll">
    <div class="row">
        <label class="col-sm-2 pull-right">Rows on page
            <select class="form-control selectpicker show-tick" title="Rows on page" selectpicker
                    ng-model="templatePageSize" ng-options="i for i in [5,10,15,20,25]">
            </select>
        </label>
    </div>
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Template List</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12">
                    <button class="btn btn-primary btn-raised pull-right" ng-click="gotoCreateTemplate()">Create Template
                    </button>
                </div>
                <div>
                    <table class="table table-responsive table-striped" st-table="templateListsData"
                           st-safe-src="templateListsMasterData">
                        <thead>
                        <tr class="sortable ">
                            <th class="table-id" st-sort="id"><b>ID</b></th>
                            <th st-sort="templateDesc"><b>TEMPLATE</b></th>
                            <th st-sort="status"><b>STATUS</b></th>
                            <th><b>ACTION</b></th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input st-search="templateDesc" placeholder="Search Template"
                                       class="input-sm form-control search-input"
                                       type="search"/></th>

                            <th><select st-search="status" st-input-event="change" st-delay="0" ng-model="dummy"
                                        class="input-sm form-control">
                                <option value="">
                                    All
                                </option>
                                <option value="I">
                                    InActive
                                </option>
                                <option value="A">
                                    Active
                                </option>
                            </select></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in templateListsData">
                            <td>{{item.templateId}}</td>
                            <td>{{item.templateDesc}}</td>


                            <td editable-select="item.status" e-selectpicker blur="cancel" ng-if="hasEditRights"
                                e-ng-options="g.id as g.text for g in statusOptions" onaftersave="updateTemplate(item)">
                                {{item.status
                                | statusFullForm}}
                            </td>
                            <td>
                                <button class="btn btn-primary btn-xs btn-raised" data-toggle="modal"
                                        ng-click="goToManageTemplate(item)"><i class="fa fa-sign-in fa-lg"
                                                                                   data-toggle="tooltip"
                                                                                   title="Manage Template"></i>
                                </button>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="templatePageSize" st-displayed-pages="5"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>