<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-back><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
</div>
<br><br>
<br>
<div class="col-sm-12">
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Create Question</h3>
        </div>
        <div class="panel-body">
            <form name="editCompetion.form" class="form-horizontal"
                  ng-submit="addCompetition(editCompetion.form.$valid)"
                  novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <b>Competition Title</b><span class="note-text">*</span>
                        <div ng-class="{'has-error': editCompetion.form.competitionName.$invalid && (editCompetion.form.competitionName.$dirty || editCompetion.form.$submitted)}">
                            <input class="form-control create-question-inputs" name="title" placeholder="Title"
                                   ng-model="editCompetion.info.competitionName" ui-validate="'isValidName($value)'" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-6">

                        <b>Start Date</b><span class="note-text">*</span>
                        <div ng-class="{'has-error': editCompetion.form.startDate.$invalid && (editCompetion.form.startDate.$dirty || editCompetion.form.$submitted)}">
                            <p class="input-group date-margin">
                                <input type="text" class="form-control create-question-inputs"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="editCompetion.info.startDate" is-open="popup2.opened"
                                       placeholder="Start Date"
                                       datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                       alt-input-formats="altInputFormats" name="startDate"/>
                                <span class="input-group-btn ">
                                            <button type="button" class="btn btn-default create-question-inputs"
                                                    ng-click="open2()">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <b>End Date</b><span class="note-text">*</span>
                        <div ng-class="{'has-error': editCompetion.form.endDate.$invalid && (editCompetion.form.endDate.$dirty || editCompetion.form.$submitted)}">
                            <p class="input-group date-margin">
                                <input type="text" class="form-control create-question-inputs"
                                       uib-datepicker-popup="yyyy-MM-dd"
                                       ng-model="editCompetion.info.endDate" is-open="popup1.opened"
                                       placeholder="End Date"
                                       datepicker-options="dateOptions" ng-required="true" close-text="Close"
                                       alt-input-formats="altInputFormats" name="endDate"/>
                                <span class="input-group-btn ">
                                            <button type="button" class="btn btn-default create-question-inputs"
                                                    ng-click="open1()">
                                                <i class="glyphicon glyphicon-calendar"></i></button>
                                        </span></p>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <b>Select Corporate</b><span class="note-text">*</span>
                        <div ng-class="{'has-error': editCompetion.form.corporateId.$invalid && (editCompetion.form.corporateId.$dirty || editCompetion.form.$submitted)}">
                            <ui-select id="corporateIds" name="corporateIds" theme="bootstrap"  multiple required
                                       close-on-select="false" ng-model="editCompetion.info.commonDetailsVOList" class="create-question-inputs" >
                                <ui-select-match placeholder="Select Corporate">
                                    <span ng-bind="$item.name"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in (eventSubTypes | filter: $select.search) track by item.seq">
                                    <span ng-bind="item.name"></span>
                                </ui-select-choices>
                            </ui-select>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div ng-class="{'has-error': editCompetion.form.domain.$invalid && (editCompetion.form.domain.$dirty || editCompetion.form.$submitted)}">
                            <table class="">
                                <tr>
                                    <td>
                                        <b>Enter Domain</b><span class="note-text">*</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="name in editCompetion.info.domain track by $index">
                                    <td>
                                        <input type="text"
                                               class="form-control option-input "
                                               ng-model="editCompetion.info.domain[$index].domainName"
                                               placeholder="Enter Option">
                                    </td>
                                    <td>
                                        <input type="button" class="form-control add-option"
                                               ng-click="addRow($index)" value="Add Domain"
                                               ng-show="$last">
                                    </td>
                                    <td>
                                        <input type="button" class="form-control delete-option"
                                               ng-click="deleteRow($event,$index)" value="Delete"
                                               ng-show="$index != 0">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <b>Time Limit</b><span class="note-text">*</span>
                        <div ng-class="{'has-error': editCompetion.form.timeLimit.$invalid && (editCompetion.form.timeLimit.$dirty || editCompetion.form.$submitted)}">
                            <input class="form-control create-question-inputs" name="timeLimit"
                                   placeholder="Time Limit"
                                   ng-model="editCompetion.info.timeLimit" required>
                            <span class="help-block error-block basic-block" style="display: none"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-primary col-sm-12" ng-disabled="editCompetion.form.$invalid">Update
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
