<div class="col-sm-12">
    <button class="btn btn-primary btn-sm" ng-back><i
            class="fa fa-arrow-left fa-lg"></i> Back
    </button>
</div>
<br><br>
<br>
<div class="col-sm-12">
    <div class="panel profile-panel">
        <div class="panel-heading panel-background">
            <h3 class="panel-title">Create Question</h3>
        </div>
        <div class="panel-body">
            <form name="editQuestion.form" class="form-horizontal" ng-submit="updateQuestion(editQuestion.form.$valid)"
                  novalidate>
                <div class="form-group">
                    <div class="col-sm-12">
                        <span>Enter Question Title</span><span class="note-text">*</span>
                        <div ng-class="{'has-error': editQuestion.form.questionDesc.$invalid && (editQuestion.form.questionDesc.$dirty || editQuestion.form.$submitted)}">
                            <input class="form-control create-question-inputs" name="questionDesc"
                                   placeholder="Enter Question Title"
                                   ng-model="editQuestion.info.questionDesc" minlength="1" required>
                            <span class="help-block error-block basic-block pull-right" style="display: none">Question title is required field.</span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                Select Genre<span class="note-text">*</span>
                                <div ng-class="{'has-error': editQuestion.form.questionType.$invalid && (editQuestion.form.questionType.$dirty || editQuestion.form.$submitted)}">
                                    <select class="form-control create-question-inputs"
                                            ng-model="selected.genre"
                                            id="questionType" name="questionType"
                                            ng-options="item.id as item.genre for g in genreList" required>
                                        <option value="">Select Genre Type</option>
                                    </select>
                                    <span class="help-block error-block basic-block" style="display: none"></span>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                Upload Image
                                <input class="form-control create-question-inputs" type="file"
                                       ngf-select="uploadImage($file)"
                                       ng-model="imageFile"
                                       name="file"
                                       accept="image/*" ngf-max-size="2MB"><br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="form-group">
                     <div class="col-sm-5">
                         Upload Image
                         <input class="form-control create-question-inputs" type="file" ngf-select="uploadImage($file)"
                                ng-model="imageFile"
                                name="file"
                                accept="image/*" ngf-max-size="2MB"><br>
                             &lt;!&ndash; <uib-progressbar ng-show="dynamic > 0 && dynamic < 100" class="progress-striped active"
                                               animate="true" value="dynamic" type="success"><b>{{dynamic}}%</b>
                              </uib-progressbar>&ndash;&gt;

                       &lt;!&ndash;  <button class="btn btn-danger btg-sm" ng-show="dynamic > 0 && dynamic <100"
                                 ng-click="cancelUpload(imageFile)"><i class="fa fa-times" aria-hidden="true"></i>
                         </button>&ndash;&gt;

                     </div>
                 </div>-->
                <div class="form-group">
                    <div class="col-sm-12">
                        <div ng-class="{'has-error': editQuestion.form.answerOption.$invalid && (editQuestion.form.answerOption.$dirty || editQuestion.form.$submitted)}">
                            <table class="option-table">
                                <tr>
                                    <td>
                                        Enter Option<span class="note-text">*</span>
                                    </td>
                                </tr>
                                <tr ng-repeat="name in editQuestion.info.answerOption track by $index">
                                    <td>
                                        <input type="text"
                                               class="form-control option-input "
                                               ng-model="editQuestion.info.answerOption[$index].label"
                                               placeholder="Enter Option">
                                    </td>
                                    <td>
                                        <input type="button" class="form-control add-option"
                                               ng-click="addRow($index)" value="Add Option"
                                               ng-show="$last">
                                    </td>
                                    <td>
                                        <input type="button" class="form-control delete-option"
                                               ng-click="deleteRow($event,$index)" value="Delete"
                                               ng-show="$index != 0">
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10">
                        <button type="submit" class="btn btn-primary btn-raised"
                                ng-disabled="editQuestion.form.$invalid">Create Question
                        </button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>
