<div class="row">
    <div class="col-sm-4">
        <div class="panel profile-panel">
            <div class="panel-heading panel-background">
                <h3 class="panel-title">Add Corporate</h3>
            </div>
            <div class="panel-body">
                <form name="newCorporate.form" class="form-horizontal" ng-submit="addCorporate(newCorporate.form.$valid)"
                      novalidate>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <b>Corporate Name</b><span class="note-text">*</span>
                            <div ng-class="{'has-error': newCorporate.form.corporateName.$invalid && (newCorporate.form.corporateName.$dirty || newCorporate.form.$submitted)}">
                                <input class="form-control create-question-inputs" name="corporateName"
                                       ng-model="newCorporate.info.corporateName" ui-validate="'isValidName($value)'"  required>
                                <span class="help-block error-block basic-block" style="display: none"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <b>POC Name</b><span class="note-text">*</span>
                            <div ng-class="{'has-error': newCorporate.form.spocName.$invalid && (newCorporate.form.spocName.$dirty || newCorporate.form.$submitted)}">
                                <input class="form-control create-question-inputs" name="spocName"
                                       ng-model="newCorporate.info.spocName"  required>
                                <span class="help-block error-block basic-block" style="display: none"></span>
                            </div>
                        </div>
                    </div>    <div class="form-group">
                        <div class="col-sm-12">
                            <b>POC Email</b><span class="note-text">*</span>
                            <div ng-class="{'has-error': newCorporate.form.spocEmail.$invalid && (newCorporate.form.spocEmail.$dirty || newCorporate.form.$submitted)}">
                                <input class="form-control create-question-inputs" name="spocEmail"
                                       ng-model="newCorporate.info.spocEmail"  required>
                                <span class="help-block error-block basic-block" style="display: none"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary col-sm-12" >Add Corporate
                            <i class="fa fa-plus" ></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <table class="table" st-table="corporatesData" st-safe-src="corporateMasterData">
            <thead>
            <tr class="sortable corporate-table">
                <th class="table-id" st-sort="$index+1"><b>SL.NO</b></th>
                <th st-sort="corporateName"><b>CORPORATE NAME</b></th>
                <th st-sort="spocName"><b>POC NAME</b></th>
                <th st-sort="spocEmail"><b>POC EMAIL</b></th>
                <th><b>ACTION</b></th>
            </tr>
            <tr>
                <th></th>
                <th><input st-search="corporateName" placeholder="Search Corporate"
                           class="input-sm form-control search-input"
                           type="search"/></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in corporatesData">
                <td>{{$index + 1}}</td>
                <td>{{item.corporateName}}</td>
                <td>{{item.spocName}}</td>
                <td>{{item.spocEmail}}</td>
                <td>
                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                            ng-click="editCorporateData(item)" data-toggle="tooltip" title="Edit Corporate"><i class="fa fa-pencil fa-lg"></i>
                    </button>
                   <!-- <button class="btn btn-primary btn-xs" data-toggle="modal"
                            ng-click="gotoManageBatches(item.id)"><i class="fa fa-users fa-lg" data-toggle="tooltip" title="Assign Batch"></i>
                    </button>-->
                    <button class="btn btn-primary btn-xs" data-toggle="modal"
                            confirm="Warning! This will also delete everything related to this course. Are you sure, you want to delete?"
                            ng-click="deleteCorporate(item.id)" data-toggle="tooltip" title="Delete Corporate"><i class="fa fa-trash-o fa-lg"></i>
                    </button>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

