<button class="btn btn-primary btn-sm" ng-back><i
        class="fa fa-arrow-left fa-lg"></i> Back
</button><br><br>
<div class="panel profile-panel">
    <div class="panel-heading panel-background">
        <h3 class="panel-title">Template Information</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <tbody>
            <tr>
                <td>Template Id</td>
                <td><b>{{templateInfo.id}}</b></td>
                <td>Template Name</td>
                <td><b>{{requestInfo.customerName}}</b></td>
            </tr>
            <tr>
                <td>Created Date</td>
                <td><b>{{templateInfo.createdDtm|dateFilter}}</b></td>
                <td>Event Date</td>
                <td><b>{{templateInfo.eventDate|dateFilter}}</b></td>
            </tr>


        </table>
    </div>
</div>
<div class="panel profile-panel ">
    <div class="panel-heading panel-background">
        <h3 class="panel-title">Templates/Questions Details</h3>
    </div>
    <div class="panel-body">
        <table class="table" st-table="templateQuestionData" st-safe-src="templateQuestionMasteData">
            <thead>
            <tr>

            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in templateQuestionData">

            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5" class="text-center">
                    <div st-pagination="" st-items-by-page="5" st-displayed-pages="5"></div>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
